[submodule "FMCW-MIMO-Radar-Simulation"]
	path = FMCW-MIMO-Radar-Simulation
	url = https://github.com/ekurtgl/FMCW-MIMO-Radar-Simulation.git
[submodule "fmcw-RADAR"]
	path = fmcw-RADAR
	url = https://github.com/0xastro/fmcw-RADAR.git
[submodule "radarsimpy"]
	path = radarsimpy
	url = https://github.com/radarsimx/radarsimpy
[submodule "radar-target-generation-and-detection"]
	path = radar-target-generation-and-detection
	url = https://github.com/davidscmx/radar-target-generation-and-detection
